<template>
  <div class="main-wrapper">
    <loading :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="isLoadingFullPage"
        :loader="'dots'"
        :opacity="0.8"></loading>
    <aside>
      <li v-if="!ipfsNode">Ipfs Node <strong>NOT CONNECTED</strong> (waiting...)</li>
      <li v-if="ipfsNode">Ipfs Node <strong>Connected - jsIPFS version: {{ipfsNodeVersion}}</strong></li>
      <li v-if="!web3 || !web3.isInjected">MetaMask is <strong>NOT CONNECTED</strong> (waiting...) - <a href="">REFRESH</a></li>
      <li v-if="web3 && web3.isInjected">MetaMask <strong>Connected</strong> to <strong>{{networkName}} ({{web3.networkId}})</strong></li>
      <li v-if="web3 && web3.isInjected">Ethereum Account n°<strong>{{web3.coinbase}}</strong></li>
      <hr/>
    </aside>
    <main>
      <nav v-if="ipfsNode && web3">
        <ul>
            <li v-bind:class="{ active: ($nuxt.$route.path == '/') || ($nuxt.$route.path == '/') }"><nuxt-link to="/">Accueil</nuxt-link></li>
            <li v-bind:class="{ active: ($nuxt.$route.path == '/edit') || ($nuxt.$route.path == '/edit/') }"><nuxt-link to="/edit">Édition locale</nuxt-link></li>
            <li v-if="$store.state.model.dab.proposalIds.length" v-bind:class="{ active: ($nuxt.$route.path == '/proposals') || ($nuxt.$route.path == '/proposals/') }"><nuxt-link to="/proposals">Propositions</nuxt-link></li>
            <li v-if="$store.state.model.dab.data.remote" v-bind:class="{ active: ($nuxt.$route.path == '/table') || ($nuxt.$route.path == '/table/') }"><nuxt-link to="/table">Tableau initial</nuxt-link></li>
        </ul>
      </nav>
      <section v-if="ipfsNode && web3" >
        <h1>Tableau initial des DABs partagé</h1>
        <nuxt v-if="$store.state.model.initialised" />
      </section>
    </main>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { IPFS_MANAGER } from '~/services/ipfs';
import { NETWORKS } from '~/services/constants/ethereum_networks';
import { WEB3_BUS } from '~/services/web3';
import { Notifier } from '~/services/notifier.js';
import {LOADER_EVENT} from '~/services/loader.js';
import DABModel from '~/models/dab.js';
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  components: {
      Loading
  },
  data() {
    return {
      ipfsNode: null,
      ipfsNodeVersion: null,
      isLoading: false,
      isLoadingFullPage: true
    }
  },
  computed: {
    ...mapGetters({
      web3: 'web3/getInstance',
    }),
    networkName: state => NETWORKS[state.web3.networkId],
  },
  async created() {
    LOADER_EVENT.$on('on', () => {
      this.isLoading = true;
    });
    LOADER_EVENT.$on('off', () => {
      this.isLoading = false;
    });

    await this.initIPFS();
    this.initDB();
  },
  methods: {
    async initIPFS() {
      if (!this.ipfsNode) {
        this.ipfsNode = await IPFS_MANAGER.getNode();
        let ipfsNodeVersion = (await this.ipfsNode.version());
        if (ipfsNodeVersion) {
          this.ipfsNodeVersion = ipfsNodeVersion.version;
        }
      }
    },
    initDB() {
      WEB3_BUS.$on('init', () => {
        Notifier.log('WEB3_STORE INITED', this.web3);
        this.$store.dispatch('model/init')
      });
      this.$store.dispatch('web3/registerWeb3');
    }
  }
}
</script>
<style>
  body, .main-wrapper {
    /*max-width: 1200px;*/
    max-width: 100%;
    min-height: calc(100vh - 40px);
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-grow: 1;
  }

  main>section {
    flex-grow: 1;
  }

  nav {
    width: 200px;
    margin-right: 3em;
    border-right: 1px solid black;
  }

  nav ul {
    padding-left: 0;
  }

  nav li {
    list-style: none;
  }

  nav li:before {
      display: inline;
      content: "- ";
  }

  nav li.active {
    font-weight: bold;
  }

  nav li.active:before {
      content: "->";
  }
</style>
