<template>
  <div class="wrapper">
    <h2>Édition du tableau local</h2>
    <editTable />
  </div>
</template>

<script>
  import editTable from '~/components/editTable';
  export default {
    layout: 'dab',
    components: {
      editTable
    }
  }
</script>
<style>
</style>
