<template>
  <section class="index">
    <h2>Accueil</h2>
    <article>
      <h3>Infos sur l'application</h3>
      <p>
        Ce prototype est une version complètement partagée de <a href="http://prototype.stadja.net/scodes/mockup/dab" target="_blank">la partie "Tableau initial" du mockup</a>.
        <br/>
        <br/>Vous y trouvez donc <strong>les fonctions équivalentes</strong>:
        <ul>
          <li>Les parties "<a href="http://prototype.stadja.net/scodes/mockup/dab/parcelles" target="_blank">Les parcelles</a>", "<a href="http://prototype.stadja.net/scodes/mockup/dab/batiments" target="_blank">Les pools de bâtiments</a>" et "<a href="http://prototype.stadja.net/scodes/mockup/dab/tableau" target="_blank">Édition du tableau initial</a> sont couvertes par la page <strong><nuxt-link to="/edit">Édition locale</nuxt-link></strong></li>
          <li>Lorsque des propositions sont en cours, la partie "<a href="http://prototype.stadja.net/scodes/mockup/dab/liste" target="_blank">Liste des tableau à valider</a>" est couverte par la page <strong><nuxt-link to="/proposals">Propositions</nuxt-link></strong></li>
          <li>La partie "<a href="http://prototype.stadja.net/scodes/mockup/dab/valide" target="_blank">Tableau initial validé</a>" est couverte par la page <strong><nuxt-link to="/table">Tableau initial</nuxt-link></strong></li>
        </ul>
      </p>
    </article>
    <article>
      <h3>Infos techniques</h3>
      <p>
        Toutes les informations partagées de cette application le sont stockées de façons décentralisée.
        <br/>
        <ul>
          <li>
            Une partie est stockée sur Ethereum sur le réseau "<strong>{{networkName}}</strong>".
            <br/>Ces données ont été déployés dans <a v-bind:href="$store.state.model.dab.contract.url" target="_blank">le Smart Contract {{$store.state.model.dab.contract.address}}</a> (toutes les informations dont <a v-bind:href="$store.state.model.dab.contract.url+'#contracts'" target="_blank">le code de ce smart contract</a> sont accessibles directement sur la blockchain).
          </li>
          <li>
            Si vous étudiez le code du smart contract, vous verrez qu'il ne stocke que des clés représentant des pointeurs vers le contenu. Ce contenu est enregistré sous IPFS, un protocol partagé en peer-to-peer.
          </li>
          <li>
            Les informations non partagées sont enregistrées dans le Local Storage de votre navigateur.
          </li>
        </ul>
        Cette application n'est donc qu'un exécutable ne nécessitant aucune base de donnée et pouvant fonctionner de façon local sur n'importe quel serveur ou ordinateur.
      </p>
    </article>
  </section>
</template>

<script>
  import { NETWORKS } from '~/services/constants/ethereum_networks';
  import DAB from '~/services/constants/dab';
  export default {
    components: {
    },
    data() {
      return {
        networkName: null
      }
    },
    mounted() {
      this.networkName = NETWORKS[DAB.network];
    },
  }
</script>
<style></style>
